<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <partial name="Partial/_Style"/>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <patrial name="Partial/Scripts"/>
</body>
</html>
