<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <partial name="Partial/_Style"/>
     @await RenderSectionAsync("Styles",false)
</head>
<body>
    <partial name="Partial/_Header"/>

    <div class="container">
        @RenderBody()
    </div>

        <partial name="Partial/_Foter"/>

    <patrial name="Partial/Scripts"/>
    @await RenderSectionAsync("Scripts",false)
</body>
</html>
