<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <partial name="Partial/_Style"/>
     @await RenderSectionAsync("Styles",false)
</head>
<body>


    <div class="container">
        <main role="main"class="pb-3"> 
             @RenderBody()
        </main>
    </div>


    <patrial name="Partial/Scripts"/>
    @await RenderSectionAsync("Scripts",false)
</body>
</html>
